.black-text {
  color: #2B2B2B !important;
}

.herowadwad {
  justify-content: center;
  text-align: center;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: hidden;
}

#root {
  height: 100vh;
  background-image: url('./assets/hero_bg.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Layout Styles */
.App {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "header header header"
    "aside main main";
}

/* Header Styles */
.App-header {
  grid-area: header;
  background-color: #D1D1CA;
  color: white;
  display: flex;
  flex-direction: column;
  background: transparent;
  position: relative;
}

.App-header h1 {
  color: hsl(0, 0%, 98%);
  opacity: 0;
  animation: fadeIn 100ms linear forwards;
  animation-delay: 100ms;
}

.App-header p {
  color: hsl(0, 0%, 94%);
  opacity: 0;
  animation: fadeIn 100ms linear forwards;
  animation-delay: 200ms;
}

.App-header a {
  text-decoration: none;
  color: hsl(0, 0%, 96%);
}

.App-header .App-header-top {
  display: none;
}

.App-header .Hero {
  display: flex;
  align-items: center;
  height: 100vh;
  background: transparent;
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

.Hero .Hero-content {
  display: flex;

  flex-direction: column;
  border-radius: 8px;
  margin: 0 1rem;
}

.Hero-content-img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.Hero-content>div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Hero-content div:nth-child(3) {
  margin: 1rem 0;
}

.Hero-arrow a {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: hsl(0, 0%, 96%);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  color: hsl(0, 0%, 96%);
  animation: float 2s infinite;
  cursor: pointer;
}

.Hero-arrow a span,
.Hero-arrow a i {
  opacity: 0;
  animation: fadeIn 100ms linear forwards;
  animation-delay: 300ms;
}

/* Aside Styles */
.App-aside {
  grid-area: aside;
  background-color: #6A6E71;
  color: hsl(0, 0%, 96%);
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding-top: calc(100px + 2rem);
  position: sticky;
  top: 0;
  height: 100vh;
}

.App-aside nav {
  padding: 0 1rem;
  animation: fade linear forwards;
  animation-timeline: view();
  animation-range: entry;
  opacity: 0;
}

.App-aside nav>h2 {
  margin-bottom: 1rem;
}

.App-aside ul {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  list-style: none;
}

.App-aside a {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  color: hsl(0, 0%, 96%);
  align-items: center;
}

.App-aside img {
  height: 48px;
  border-radius: 8px;
}

/* Main Content Styles */
.App-main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 96%);
}

.App-main section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 2rem;
  gap: 1rem;
  padding-top: calc(100px + 2rem);
  align-items: center;
  min-height: 60vh;
}

.App-main section:nth-child(odd) {
  flex-direction: row-reverse;
}

.App-main section:last-child {
  padding-bottom: calc(100px + 2rem);
}

.App-main section div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1 1 500px;
  animation: fade linear forwards;
  animation-timeline: view();
  animation-range: entry;
  opacity: 0;
}

.App-main h2 {
  color: #2B2B2B;
  font-size: 26px;
}

.App-main p {
  color: #2B2B2B;
}

.App-main .img-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.App-main .img-container img {
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
  flex: 1;
  max-height: 300px;
  transition: scale 300ms ease;
}

.App-main .img-container img:hover {
  scale: 1.05;
}

.btn {
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: #8B8F7D;
  color: hsl(0, 0%, 96%);
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: opacity 300ms ease;
}

.btn:hover {
  opacity: 0.8;
}

/* Mobile Navigation Styles */
.Mobile-nav {
  display: none;
}

.Mobile-nav img {
  height: 48px;
  border-radius: 8px;
}

.Mobile-list {
  display: none;
  list-style: none;
  width: 100%;
  flex-direction: column;
  position: fixed;
  background-color: #6A6E71;
  left: 0;
  padding: 0 1rem 1rem 1rem;
  top: 100px;
  z-index: 9999;
}

.Mobile-list li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.Mobile-list a h2 {
  font-size: 26px;
}

.show {
  display: flex;
  animation: nav 100ms forwards cubic-bezier(0, 1.03, 0.58, 1);
}

/* Fonts */
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nunito-sans-bold {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.nunito-sans-regular {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}


/* Media Queries */
@media (max-width: 1024px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "header"
      "main";
  }

  .Mobile-nav {
    display: flex;
    width: 100%;
  }

  .App-header .App-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6A6E71;
    padding: 0 1rem;
    z-index: 9999;
  }

  .App-header button {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
  }

  .App-header button svg {
    width: 32px;
    height: 32px;
    color: hsl(0, 0%, 96%);
  }

  .App-aside {
    display: none;
  }

  .App-main section {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .App-main section:nth-child(odd) {
    flex-direction: column;
  }

  .App-main section div {
    flex: 0;
  }
}

/* Animations */
@keyframes nav {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    scale: 0.8;
    opacity: 0;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade {
  from {

    opacity: 0;
    scale: 0.8;
  }

  to {

    opacity: 1;
    scale: 1;
  }
}

@keyframes float {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(-10px);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}