.App {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
}

.App-header {
  grid-area: header;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-aside {
  grid-area: aside;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-main {
  grid-area: main;
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}

.App-main section {
  min-height: 100vh;
}

.App-footer {
  grid-area: footer;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}